// Widescreen Mobile Query
@include mediaXl {

}

// Desktops & Laptops
@include mediaLg {
    main {
        padding-top: 1rem !important;
    }

    .bio {
        padding-left: 2rem;
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        padding-top: 1rem !important;
    }

    .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        
        &.show {
            transform: translate3d(0,0,0)
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%,0,0);

    }
    .portrait {
        visibility: hidden;
        width: 0 !important;
        height: 0 !important;
    }

    .portrait_sm {
        visibility: visible !important;
    }

}

// Smartphones
@include mediaSm {
    main#Home h1 {
        margin-top: 10vh;
    }

    main#about {
        padding-top: 3rem !important;
    }

    main#work {
        h1 {
            font-size: 4rem;
        }
    }

    .about-info {
        margin-top: 1rem;
        margin-bottom: 0;
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }
    .project-list {
        margin-top: 1rem;
        margin-bottom: 0;
        grid-template-areas: 
        'project1'
        'project2'
        'project3'
        'project4'
        'project5'
        'project6';
        grid-template-columns: 1fr;
    }

    .bio {
        margin-top: 1rem;
    }

}