.portfolio_prev,
.IDSDocsite_prev,
.pythontimer_prev,
.contactkeeper_prev,
.gitindex_prev  {
    width: 290px;
    height: 190px;
    background-size: contain;   
    border-radius: 25%;
    border: solid 3px $secondary-color
}

.portfolio_prev {
    background: url('../img/portfoliowebsite.PNG') no-repeat;
}

.IDSDocsite_prev {
    background: url('../img/IDSdocsite.PNG') no-repeat;
}

.pythontimer_prev {
    background: url('../img/pythontimer.PNG') no-repeat;
}

.contactkeeper_prev {
    background: url('../img/contactkeeper.PNG') no-repeat;
}

.gitindex_prev {
    background: url('../img/gitindex.PNG') no-repeat;
}