//Imports
@import 'header';
@import 'media';
@import 'previews';

// Boiler plate

body {
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        font-size: 1.75rem;
        padding: 0.2rem 1rem;
        background: lighten($primary-color, 4);
    }
}

h6 {
    font-size: 1rem;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

// Links
a {
    color: $secondary-color;
    text-decoration: none;
}

// Main Container
main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            
            padding: 0.4rem;
            i {
                &:hover {
                    color: $accent-color !important;
                    @include easeOut();
                }
            }
            
        }
    }
    &#Home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        };
    }
}

.about-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: solid 3px $secondary-color
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
        }
    .job-2 {
        grid-area: job2
    }
    .job-3 {
        grid-area: job3
    }
    
    .job {
        background: lighten($primary-color, 10);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        margin: 0.25rem;
    }
}

.project-list {
    display: grid;
    grid-template-areas: 
    'project1 project2 project3'
    'project4 project5 project6';

    grid-template-columns: repeat(3, 1fr);
    .proj-1 {
        grid-area: project1;
        }
    .proj-2 {
        grid-area: project2
    }
    .proj-3 {
        grid-area: project3
    }
    .proj-4 {
        grid-area: project4
    }
    .proj-5 {
        grid-area: project5
    }
    .proj-6 {
        grid-area: project6
    }
    .proj-7 {
        grid-area: project7
    }
    .proj-8 {
        grid-area: project8
    }
    .proj-9 {
        grid-area: project9
    }
    
    .proj {
        background: lighten($primary-color, 10);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        margin: 0.25rem;
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    color: $secondary-color;
    background: $quartenary-color;
    height: 60px;
}

// Color classes
.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $tertiary-color;
}

.quartenary-color {
    color: $quartenary-color;
}

.accent-color {
    color: $accent-color;
}

@import 'mobile';
